@charset "UTF-8";

/*Styles page for my website*/

html, body {
	margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
	 height: 100%;
 }

/*vertical nav bar*/
#navlist {
   
	height: 100%;
	background-color: black;
	font: bold 1em; 
	background: black;
	width: 6em;
	
	position: relative;
    float: left;
    margin-right: 0;

 }
 #navlist li {
	margin-top: 1em;
    margin-bottom: 1em;
	list-style: none;
 }
 #navlist li a {
	 display: block; 
      width: auto; 
      padding: 0.25em 0.5em 0.25em 0.25em;
    border-left: 1em solid black; 
    border-right: 1em solid black;
    text-decoration: none;
 }
 #navlist li a:link {
	 color: white;
 }
 #navlist li a:visited {
	 color: white;
 }
 #navlist li a:hover {
	 border-color: rgb(145, 248, 231); color: #FFF; background: black;
 }



#mother{
   /*float: inline-start;*/
   background-color: whitesmoke;
   height: 100%;
   margin-left: 6em;
   
}

#child{
   text-indent: 1em;
}

footer{
	margin-left:6em;
	
	
}

h1{
	text-align: center;
	text-shadow: -4px 4px 6px dimgrey; 
}

#writing{
	margin-left: 1em;
	text-align: center;
}

#container{
	margin-left: 3em;
}

table, th, td{
	margin-left: 17em;
	padding: 1em;
	border: 2px solid black;
	
}
th{
	background: rgb(90, 194, 207);
}
td{
	border-spacing: 2em;
}
caption{
	text-align: center;
}
