:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

}

.main {
    margin-left: 5rem;
    padding: 1rem;
}

.nav-bar {
    position: fixed;
    background-color: var(--bg-primary);
    height: 100vh;
    
}
.nav-content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    margin: 1rem 0.4rem;
    text-align: center;
}

.nav-item a {
    padding-top: 0.5rem;
    
}

.nav-item a:link {
    color: white;
}
.nav-item a:visited {
    color: white;
}
.nav-item a:hover {
    border-color: #aee1cd; color: #23232e; background: #aee1cd;
}


/* Media Queries for RWD */
@media only screen and (max-width: 600px){}

@media only screen and (min-width: 600px){}




